<mat-drawer-container>
    <mat-drawer #drawer [mode]="isMobile() ? 'over' : 'side'" [opened]="!isMobile()" autoFocus="false"
        (mousedown)="$event.preventDefault()">
        <div class="flex items-center justify-between px-2">
            <app-logo />
            @if(isMobile()){
            <button mat-icon-button (click)="drawer.close()" (mousedown)="$event.preventDefault()">
                <mat-icon>close</mat-icon>
            </button>
            }
        </div>
        <mat-divider />
        <app-navbar [items]="NavItems" (itemClicked)="isMobile() && drawer.close()" />
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar>
            @if(isMobile()){
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            }
        </mat-toolbar>
        <main class="p-4 min-h-[calc(100dvh-64px)]">
            <router-outlet />
        </main>
    </mat-drawer-content>
</mat-drawer-container>