<div class="overflow-x-auto">
  <table mat-table class="min-w-full" [dataSource]="data()">
    <ng-container *ngFor="let col of columns()" [matColumnDef]="col.id">
      <th mat-header-cell *matHeaderCellDef>{{ col.header || '' }}</th>
      <td mat-cell *matCellDef="let row">
        <ng-container [ngSwitch]="col.type || 'text'">
          <ng-container *ngSwitchCase="'date'">{{ row[col.field || col.id] | date:(col.dateFormat || 'dd/MM/yyyy') }}</ng-container>
          <ng-container *ngSwitchCase="'actions'">
            <button mat-icon-button class="delete-btn" (click)="emitAction('delete', row)" autoFocus="false" (mousedown)="$event.preventDefault()">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-container>
          <ng-container *ngSwitchDefault>{{ row[col.field || col.id] }}</ng-container>
        </ng-container>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnIds()"></tr>
    <tr mat-row *matRowDef="let row; columns: columnIds()"></tr>
  </table>
</div>
