<app-page-layout [title]="'toners.page_title' | translate">
  <button page-actions mat-icon-button (click)="refresh()" [disabled]="loading()">
    <mat-icon>refresh</mat-icon>
  </button>

  @if (authService.isAdmin()) {
    <button page-actions mat-flat-button (click)="openDialog()">
      <mat-icon>add</mat-icon>
      {{ 'shared.actions.new' | translate }}
    </button>
  }
  
  @if (loading()) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  
  <div class="toner-grid">
    @if (loading()) {
      @for (i of [1, 2, 3, 4, 5, 6]; track i) {
        <app-toner-card-skeleton />
      }
    } @else {
      @for (toner of sortedToners(); track toner.id) {
        <app-toner-card 
          [toner]="toner" 
          (edit)="editToner($event)" 
          (delete)="deleteToner($event.id)">
        </app-toner-card>
      } @empty {
        <div class="empty-state">
          <mat-icon>inventory_2</mat-icon>
          <p>{{ 'toners.empty_state' | translate }}</p>
        </div>
      }
    }
  </div>
</app-page-layout>

